:root {
  --color-dark-1: #0f0f0f;
  --color-dark-transparent-1: rgba(15, 15, 15, 0.95);
  --color-dark-transparent-2: rgba(15, 15, 15, 0.64);
  --color-dark-transparent-3: rgba(255, 255, 255, 0.15);
  --color-light-1: #ffffff;
  --color-light-transparent-1: rgba(255, 255, 255, 0.15);

  --color-gray-1: #aaaaaa;
  --color-gray-2: #515151;
  --color-gray-3: #525252;
  --color-gray-4: #2c2c2c;
  --color-gray-5: #212121;

  --color-blue-1: #2990ff;
  --color-blue-2: #0076f5;
  --color-blue-3: #8fc4ff;
  --color-blue-4: #004999;
  --color-blue-5: #52a5ff;
  --color-blue-6: #55a6ff;
  --color-blue-7: #0098EA;

  --color-green-1: #32e55e;

  --rsbs-backdrop-bg: rgba(0, 0, 0, 0.6);
  --rsbs-bg: #fff;
  --rsbs-handle-bg: hsla(0, 0%, 0%, 0.14);
  --rsbs-max-w: auto;
  --rsbs-ml: env(safe-area-inset-left);
  --rsbs-mr: env(safe-area-inset-right);
  --rsbs-overlay-rounded: 16px;

  // Gradient
  --primary-gradinet: linear-gradient(var(--color-blue-1) 0%, var(--color-blue-4) 100%);
  --bottom-tab-bard-gradinet: linear-gradient(transparent 0%, var(--color-dark-1) 100%);

  --bottom-tab-bar-height: 52px;
}
