.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: none;
  border-radius: 20px;
  background-color: var(--color-blue-1);
  color: var(--color-light-1);
  font-size: 15px;
  font-weight: 700;
  -webkit-tap-highlight-color: transparent;

  &.isBlock {
    width: 100%;
  }

  &:disabled {
    background-color: var(--color-light-transparent-1);
  }

  &:not(:disabled) {
    cursor: pointer;
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.6);
}
