.wrapper {
  width: 100%;
  display: flex;
  overflow: auto;
  height: 100%;
  flex-direction: column;
  padding: 0 16px 16px;
}

.closeIconWrapper {
  display: flex;
  margin-top: 24px;
  padding: 0 16px;
  align-items: center;
  justify-content: space-between;
}

.closeIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sheetWrapper {
  width: 100%;
  display: flex;
  overflow: auto;
  margin-top: 24px;
  flex-direction: column;
  padding: 0 16px 16px 16px;
}
