.bottomTabBar {
  left: 12px;
  z-index: 10;
  right: 12px;
  display: flex;
  padding: 12px;
  position: fixed;
  border-radius: 16px;
  align-items: center;
  justify-content: space-around;
  background: var(--color-gray-5);
  height: var(--bottom-tab-bar-height);
  filter: drop-shadow(0 0 80px var(--color-dark-1));

  &:after {
    content: '';
    z-index: -1;
    position: absolute;
    pointer-events: none;
    inset: 0 0 -12px -16px;
    width: calc(100% + 32px);
    background: var(--bottom-tab-bard-gradinet);
  }
}

.tabBarOption {
  -webkit-tap-highlight-color: transparent;
  &.tabBarOptionActive {
    svg {
      fill: var(--color-blue-1);
      transition: 0.15s fill ease-in-out;
    }
  }
}
